.header {
    margin-top: 50px;
    display: flex;
    flex: 1;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.header-top {
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
}

.header-top__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.header-logo {
    width: 225px;
    height: 55px;
}

.header-top__navigation {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 15px;
    height: 170px;
    align-items: end;
}
  
  