.editModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    max-height: 80vh;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    box-shadow: #2f2f2f;
    padding: 4em 4em 4em 0;
}

.editModal.active {
    transform: scale(1);
}

.edit_modal_content {
    padding: 25px;
    border-radius: 12px;
    background-color: #fff;
}

.edit_container_position {
    width: 850px;
    margin: 25px;
}

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left_column {
    width: 400px;
    flex-direction: column;
}

.right_column {
    width: 400px;
    flex-direction: column;
}

.title_main_text {
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-top: 10px;
    color: #FA7A45;
    font-weight: 500;
}

.title_text {
    font-size: 15px;
    color: #FA7A45;
    font-weight: 500;
}

.submit_button_style {
    width: 120px;
    margin-top: 30px;
    height: 45px;
    background-color: #FA7A45;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    border: none;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    border-radius: 5px;
}