.container_addNotification {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.title_addNotification {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 500;
    color: #FA7A45;
    padding-top: 20px;
    padding-bottom: 20px;
}

.columns_position{
    display: flex;
    justify-content: space-between;
}

.input_box{
    margin-top: 100px;
    margin-bottom: 100px;
}

.checkbox_style_notification{
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.button_position_notification{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 100px;
}

.input_style_contract{
    display: flex;
    background-color: #fff;
    border: 1px solid #FA7A45;
    border-radius: 3px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    padding: 12px;
    height: 14px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}