.nav_quota{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.button_style_subnav{
    width: 200px;
    height: 35px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    border: 2px solid #FA7A45;
    color: #FA7A45;
    font-size: 14px;
    cursor: pointer;
    margin: -1px;
}

.button_style_subnav:disabled{
    background-color: #FA7A45;
    border: none;
    color: #fff;
    cursor:auto;
}