
.columns_position{
    display: flex;
    justify-content: space-between;
}

.column_style_contract{
    display: flex;
    flex-direction: column;

}

.tytle_contract_info{
    font-size: 15px;
    color: #FA7A45;
    font-weight: 500;

}

.input_style_contract{
    display: flex;
    background-color: #fff;
    border: 1px solid #FA7A45;
    border-radius: 3px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    padding: 12px;
    height: 14px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button_position_contract_info{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.button_style_contract_info{
    width: 120px;
    height: 45px;
    background-color: #FA7A45;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    border: none;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    border-radius: 5px;
}

.button_style_contract_info:hover{
    background-color: #FF4B00;
}

