
.columns_position{
    display: flex;
    justify-content: space-between;
}

.column_style_contract{
    display: flex;
    flex-direction: column;

}

.tytle_contract_info{
    font-size: 15px;
    color: #FA7A45;
    font-weight: 500;

}

.input_style_contract{
    display: flex;
    background-color: #fff;
    border: 1px solid #FA7A45;
    border-radius: 3px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    padding: 12px;
    height: 14px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

